
.color{
  display: inline;
  margin-right: 10px;
  margin-right: 20px;
  font-size: 18px
}

.inputs{
  display: inline-table;
  float: right;
}

.App{
  margin-left:5%;
}
.size{
  display: inline-flex;
  float: right;
}

.singleSize-0,.singleSize-1,.singleSize-2,.singleSize-3{
  margin-left: 24px;
  margin-right: 24px;
}
.singleSize-1{
  margin-left: 24px;
  margin-right: 21px;
}
.name{
  font-size:36px;
}

.itemNum{
   font-size: 24px
}

.price{
  font-size: 24px;
}
h2{
  padding-left: 5px
}

input{
  background: lightcyan;
  border-radius:3px;
  font-style: oblique;
  width: 70px;
  margin: 5px
}

#age{
  font-size: 24px
}